version: "3.8"

services:
  search:
    build: .
    ports:
      - "8081:8000"
    networks:
      - mlentory_network
    environment:
      - STELLA_APP_ADDRESS= "http://stella-app:8000"
      - FLASK_APP=app.py
      - FLASK_ENV=development

networks:
  mlentory_network:
    external: true
